<h1>Admin creates a user</h1> 


<div class="form">
  <%= form_with(model: @user, local: true, url: admin_users_path) do |f| %>
    <% if @user.errors.any? %> 
      <div id="error_explanation"> 
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2> 
        <ul> 
          <% @user.errors.full_messages.each do |message| %> 
            <li><%= message %></li> 
          <% end %> 
        </ul> 
      </div>
    <% end %>
    <br>
    <%= f.text_field :name, id: "name", placeholder: "Name..." %> 
    <br>
    <br>
    <%= f.email_field :email, id: "email", placeholder: "Email..." %>
    <br>
    <br> 
    <%= f.password_field :password, id: "password", placeholder: "Password..." %>
    <br> 
    <br> 
    <%= f.password_field :password_confirmation, id: "password_confirmation", placeholder: "Password confirmation..." %> 
    <br>
    <br>
    <%= f.submit "Create account", class: "submit", value: "Register" %> 
  <% end %>
</div>